<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Count by location</h3>
      </div>
      <div class="panel-body">
          <%= high_chart("some_id", @chart) %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Customer Complaints</h3>
      </div>
      <div class="panel-body">
        <div id="complaints"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Defects past 30 days</h3>
      </div>
      <div class="panel-body text-center">
          <h1 style"text-align: center"><%= @foo %></h1>
      </div>
    </div>
  </div>

  <div class="col-lg-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Defect Type</h3>
      </div>
      <div class="panel-body">
           <div id="pie"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
          Panel content
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
          Panel content
      </div>
    </div>
  </div>
</div>

<script>
$(function () {
  $.getJSON('/dashboard/getpie', function (pie) {
      $('#pie').highcharts({
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false
          },
          title: {
              text: null
          },
          tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      format: '<b>{point.percentage:.1f} %',
                      style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                      },
                      showInLegend: true
                  }
              }
          },
          
          series: [{
              type: 'pie',
              name: 'Percentage',
              data: pie
          }]
      });
    });
  });
</script>





<script>
$(function () {
  $.getJSON('/dashboard/getcomplaints', function (data) {

    $('#complaints').highcharts({
        title: {
            text: null,
            x: -20 //center
        },

        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Count'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ''
        },

        series: [{
            name: 'Customer Complaints',
            data: data,

        }]
    });

  });

});
</script>
