<script type="text/javascript">
 $(function() {
    $('a').tooltip({placement: 'right'});
});

 $(document).ready(function() {
    $('#example').dataTable( {
        "search": {  "regex": true },
        "ajax": "/complaints/getall",
        "deferRender": true,
    } );
} );


</script>
<style>
   .dataTable th, .dataTable td {
       max-width: 200px;
       min-width: 70px;
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
       font-size: 10px;
  }
</style>
<h1>Complaints</h1>
<%= link_to 'Add New Complaint', new_complaint_path, :class => 'btn btn-large btn-primary' %>
<table id="example" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Product</th>
      <th>Reason</th>
      <th>Synopsis</th>
      <th>Notes</th>
      <th>Store number</th>
      <th>Store name</th>
      <th>City</th>
      <th>State</th>
      <th>Coding level2</th>
      <th>Brand code</th>
      <th>Brand</th>
      <th>Ownership type</th>
      <th>Duplicate</th>
    </tr>
  </thead>


  <tfoot>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Product</th>
      <th>Reason</th>
      <th>Synopsis</th>
      <th>Notes</th>
      <th>Store number</th>
      <th>Store name</th>
      <th>City</th>
      <th>State</th>
      <th>Coding level2</th>
      <th>Brand code</th>
      <th>Brand</th>
      <th>Ownership type</th>
      <th>Duplicate</th>
      </tr>
  </tfoot>
  </table>
