<script type="text/javascript">
 $(function() {
    $('a').tooltip({placement: 'right'});
});

 $(document).ready(function() {
    $('#example').dataTable( {
        "search": {  "regex": true },
        "ajax": "/complaints/getall",
        "deferRender": true,
    } );
} );
</script>
<h1>Complaints</h1>
<%= link_to 'Add New Complaint', new_complaint_path, :class => 'btn btn-large btn-primary' %>
<table id="example" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Date</th>
      <th>Product</th>
      <th>Reason</th>
      <th>Synopsis</th>
      <th>Notes</th>
      <th>Store number</th>
      <th>Store name</th>
      <th>City</th>
      <th>State</th>
      <th>Coding level2</th>
      <th>Brand code</th>
      <th>Brand</th>
      <th>Ownership type</th>
      <th>Duplicate</th>
    </tr>
  </thead>


  <tfoot>
    <tr>
      <th>Date</th>
      <th>Product</th>
      <th>Reason</th>
      <th>Synopsis</th>
      <th>Notes</th>
      <th>Store number</th>
      <th>Store name</th>
      <th>City</th>
      <th>State</th>
      <th>Coding level2</th>
      <th>Brand code</th>
      <th>Brand</th>
      <th>Ownership type</th>
      <th>Duplicate</th>
      </tr>
  </tfoot>>
  </table>
